<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
<connectionStrings>
  <add name="CurrencyExchangeEntities" connectionString="metadata=res://*/CurrencyRate.csdl|res://*/CurrencyRate.ssdl|res://*/CurrencyRate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL\SQLEXPRESS;initial catalog=CurrencyExchange;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>