<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="CurrencyExchangeDB" connectionString="data source=DELL\SQLEXPRESS;initial catalog=CurrencyExchange;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True"  />
  </connectionStrings>
  <appSettings>
    <add key="PrintMode" value="MessageBox" />
    <!-- <add key="PrintMode" value="Console" /> -->
  </appSettings>
</configuration>